<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>Apple</string>
		<key>partOfSpeech</key>
		<string>Noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Beautiful</string>
		<key>partOfSpeech</key>
		<string>Adjective</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Quickly</string>
		<key>partOfSpeech</key>
		<string>Adverb</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Compile</string>
		<key>partOfSpeech</key>
		<string>Verb</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Him</string>
		<key>partOfSpeech</key>
		<string>Pronoun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Her</string>
		<key>partOfSpeech</key>
		<string>Pronoun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Inebriated</string>
		<key>partOfSpeech</key>
		<string>Adjective</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Notion</string>
		<key>partOfSpeech</key>
		<string>Noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Byzantine</string>
		<key>partOfSpeech</key>
		<string>Adjective</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Coffee</string>
		<key>partOfSpeech</key>
		<string>Noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Percolate</string>
		<key>partOfSpeech</key>
		<string>Verb</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Zebra</string>
		<key>partOfSpeech</key>
		<string>Noun</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Unctuous</string>
		<key>partOfSpeech</key>
		<string>Adjective</string>
	</dict>
	<dict>
		<key>word</key>
		<string>Vulture</string>
		<key>partOfSpeech</key>
		<string>Noun</string>
	</dict>
</array>
</plist>
